<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-Info-plist" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Add values in info.plist</name>
    <author>Impeck</author>
    <description>
        Cordova / PhoneGap Plugin add the values in info.plist
    </description>
    <keywords>Info.plist, ios, PhoneGap, Cordova</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <!--online.sberbank.ru-->
                <string>fb629365447080405</string>
                <string>sberbankonline</string>
                <string>sberbankonlineNonAccept</string>
                <string>sberbankonlineInvoicing</string>
                <string>sberbankAppCardsWidget</string>
                <!--END online.sberbank.ru-->
                <string>viber</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
            <string>Russian</string>
        </config-file>
    </platform>
</plugin>
